{% extends 'base.html' %}
 
{% block title %}Home Page{% endblock title %}

{% block content %}
<div class="home_intro">
  <h1>Welcome to Ultimate Throwback!</h1>
  <h3>An early 2000s forum simulator</h3>
</div>

<div class="content_home">
  <p>Welcome to the ultimate throwback—our early 2000s-style forum! Relive the golden age of the internet with a community space designed to capture the nostalgic vibe of the era. From pixelated icons and chunky buttons to vibrant thread discussions, this forum is all about embracing the quirky, retro charm of old-school online hangouts. Whether you're here to chat, share tips, or dive into long threads of debates, grab your keyboard, set your away message, and get ready to post like it's 2003</p>
</div>

{% endblock content %}