body
{
  background-color: rgb(47, 47, 47);
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.content_home{
  margin-top: 35px;
  color: white;
  text-align: center;
}
